.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

.Wrapper {
	padding: 10px;
	border-radius: 10%;
	background: cadetblue;
}
.Input-wrapper {
	display: flex;
	justify-content: space-between;
	width: 200px;
	align-items: center;
	margin: 10px;
}

.Input-wrapper input {
	border-radius: 4%;
	height: 20px;
	width: 160px;
	padding: 6px;
}
.Input-wrapper button {
	border-radius: 50%;
	width: 20px;
	height: 20px;
	padding: 0;
}
